<%- include("partials/header.ejs") %>

      <main class="container">
      
        <div class="row g-5">
          <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
              ymce
            </h3>
      
            <article class="blog-post">
               <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
            </article>
      
      
          </div>
      
          <%- include("partials/sideBar.ejs") %> 